body {
	/*Want to change background image?*/
	/*Upload a new one to the img folder.*/
	/*Make sure you name it 'minecraft.jpg'*/
	background: linear-gradient(rgba(20, 26, 35,0.55),rgba(20, 26, 35, 0.55)),
				url("../img/8FCF3190-2DD9-47BF-8E75-1FDB9C461AA6.jpeg") no-repeat center center fixed;
	background-size: cover;
	font-family: "Open Sans", Helvetica;
	margin: 0;
	position: relative;
}
